.header{
    background-image: linear-gradient(to right, rgb(38, 6, 181) 0%, rgb(1, 22, 79) 100%);
    color: white;
    text-shadow: 2px 2px 3px rgba(243, 240, 240, 0.937);
}

h4 {
    color: black;
    font-weight: bolder;
}

.today-forecast {
    border: 2px;
    border-style: solid;
    border-width: 75%;
    
}